body { 
    margin: 0;
    padding: 0;
}

.button__primary { 
    cursor: pointer;
    background-color: rgb(5, 159, 249);
    padding: 13px;
    border-radius: 5px;
    color: white;
    border: 0;
}

.wrapper { 
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form__control { 
    width: 28%;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
}

.main__bg__form { 
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.register__item input { 
    margin: 10px 0px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(189, 188, 188);
    border: none;
}

.main__bg__form button { 
    width: 100%;
    margin-top: 10px;
}


@media (max-width: 1050px) {
    .form__control { 
        width: 68%;
    }
    .main__bg__form { 
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .register__item input { 
        width: 100%;
    }
}